@model psmportal.Models.tb_proposal

@{
    ViewBag.Title = "Create";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        PSM Portal
    </title>
</head>

<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    @Html.Partial("_SideNavbar")
    <main class="main-content position-relative border-radius-lg ">
        @Html.Partial("_TopNavbar")

        <div class="container-fluid py-4">
            @using (Html.BeginForm("Create", "proposal", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="d-flex align-items-center">
                                    <h3 class="mb-0">Create Proposal</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-uppercase text-sm">Proposal Details</p>
                                <div class="col-md-6">
                                    <label for="example-text-input" class="form-control-label">Proposal ID</label>
                                    @Html.EditorFor(model => model.ProposalID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProposalID, "", new { @class = "text-danger" })
                                </div>


                                <div class="col-md-6">
                                    <label for="example-text-input" class="form-control-label">Title</label>
                                    <textarea name="Title" class="form-control" rows="4"></textarea>
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="column1">@Html.LabelFor(model => model.ProposalDoc, "Upload Document", htmlAttributes: new { @class = "control-label" })</div>
                                    <div>
                                        @Html.TextBox("file", "", new { type = "file", @class = "form-control", required = "required" })
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Partial("_Footer")
        </div>
    </main>
</body>

</html>

