@model IEnumerable<psmportal.Models.tb_sv>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnedStudentIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_lecturer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnedStudentIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_lecturer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupervisorIC }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupervisorIC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupervisorIC })
        </td>
    </tr>
}

</table>
