@model psmportal.Models.tb_student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatricNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatricNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicSession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicSession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_domain.DomainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_domain.DomainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_proposal.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_proposal.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_sv.OwnedStudentIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_sv.OwnedStudentIC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
