@model psmportal.Models.tb_user

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<body class="">
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card card-plain">
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder">Login</h4>
                                    <p class="mb-0">Enter your IC and password to sign in</p>
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="mb-3">
                                            @Html.TextBoxFor(model => model.IC, new { @class = "form-control form-control-lg", placeholder = "Identification/Passport No.", aria_label = "IC" })
                                            @Html.ValidationMessageFor(model => model.IC, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "Password", aria_label = "Password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" />
                                        </div>
                                    }
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Don't have an account?
                                        <a href="javascript:;" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://photos.utm.my/wp-content/uploads/2022/05/TPS_8411-scaled-1.jpg'); background-size: cover; background-position: 62% center;">
                                <span class="mask bg-gradient-primary opacity-6"></span>
                                <h4 class="mt-5 text-white font-weight-bolder position-relative">Portal Projek Sarjana Muda</h4>
                                <p class="text-white position-relative">Universiti Teknologi Malaysia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>

